/* global */

.container {
    width: 85%;
    margin: auto;
}

h1, h2 {
    font-family: 'Staatliches', sans-serif;
}

/* site-header */

#site-header h1 {
    font-size: 80px;
    margin: 0;
    position: relative;
    top: 25px;
    left: 8%;
    /* text-align: center; */
}

/* navigation */

#nav-heading {
    background: black;
    color: white;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

#main-nav ul li {
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Varela Round';
}

#main-nav ul li img {
    background: white;
    padding: 5px;
    border-radius: 100%;
}

/* card */

#work h1 {
    text-align: center;
    font-size: 50px;
}

#work {
    background: #ddd;
    height: 1500px;
    margin-top: 30px;
    padding: 10px 0px 100px 0px;
}

.cardContainer {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    row-gap: 2rem;
    width: 85%;
    margin: auto;
}

.card {
    background: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#project-ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}

.information h2 {
    font-size: 30px;
    text-align: center;
}

.information {
    padding-bottom: 20px;
}

/* footer */

footer {
    text-align: center;
    background: black;
    padding: 5px;
    color: white;
    margin-top: 40px;
}